body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1313696101/vector/hand-drawn-meat-steak-beef-and-pork-lamb-grill-sausage-seamless-pattern.jpg?s=1024x1024&w=is&k=20&c=Em6A3W0ZVl--yb-xaqjVY05IeKH8XqF9VyAISnJ1I0g=);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
}

h2 {
  font-size: 40px;
  color: black;
  margin: 0px;
}

h3 {
  color: black;
}

button {
  margin: 10px;
}

button:hover {
  color:rgb(167, 49, 49);
}

.nav-bar {
  color:rgb(167, 49, 49);
}

.link {
  color: rgb(167, 49, 49);
}

.link:hover {
  color: black;
}

#login-container {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#register-container {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#nav-container {
  background-color: rgba(228, 228, 228, 0.85);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;

}

#account-body {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#account-card {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#match-body {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#new-exp-body {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#butcher-body {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#community-body {
  background-color: rgba(228, 228, 228, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#logo {
  text-align: center;
  font-size: 100px;
  padding: 0px;
  margin: 5px;
  border-radius: 8px;
  color: rgb(167, 49, 49);
  text-shadow: 0 0 3px #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}
