body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1313696101/vector/hand-drawn-meat-steak-beef-and-pork-lamb-grill-sausage-seamless-pattern.jpg?s=1024x1024&w=is&k=20&c=Em6A3W0ZVl--yb-xaqjVY05IeKH8XqF9VyAISnJ1I0g=);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
}

h2 {
  background-color: rgba(167, 49, 49, 0.85);
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 0px 5px 5px 5px;
  padding: 0px 10px 5px 10px;
  border-radius: 0px 0px 8px 8px;
}

#butcher-name {
  background-color: transparent;
  font-size: 40px;
  color: rgb(167, 49, 49);
  margin: 0px 5px 5px 5px;
  padding: 0px 10px 5px 10px;
}

h3 {
  color: black;
  padding: 0px;
  margin: 5px;
}

h4 {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

p {
  color: black;
  font-weight: bold;
  margin: 0px;
}

option {
  text-align: center;
}

button {
  color: white;
  background-color: rgb(167, 49, 49);
  margin: 10px;
}

button:hover {
  color: rgb(167, 49, 49);
  background-color: white;
}

.nav-bar {
  color: rgb(167, 49, 49);
}

.link {
  color: rgb(167, 49, 49);
}

.link:hover {
  color: black;
}

.icon {
  width: 45px;
}

#login-container {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#register-container {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#error-container {
  color: white;
  background-color: rgb(167, 49, 49);
  margin: 10px;
}

#nav-container {
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;

  margin: 5px 5px 0px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px 8px 0px 0px;
}

#butcher-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
}

#community-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
}

#single-butcher-container {
  text-align: center;
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}

#single-butcher-body {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  margin: 5px;
  padding: 0px;
  border-radius: 8px;
}

#left-butcher-div {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 20px;
  margin: 5px;
}

#right-butcher-div {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  justify-content: space-evenly;
}

#account-body {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  /* background-color: rgba(228, 228, 228, 0.85); */
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.account-cards {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 10px;
  padding: 115px 40px 115px 40px;
  border-radius: 8px;
}

.experience-card {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
}

#match-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 100px;
  border-radius: 8px;
}

#new-exp-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 40px 100px;
  border-radius: 8px;
}

#butcher-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  width: 250px;
  margin: 5px;
  padding: 20px 40px;
  border-radius: 8px;
}

#community-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 30px;
  border-radius: 8px;
}

#exp-history-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 30px;
  border-radius: 8px;
}

#price-input {
  width: 50px;
  height: 20px;
  text-align: center;
  font-weight: bold;
}

#notes-input {
  min-width: 350px;
  max-width: 350px;
  min-height: 80px;
  text-align: center;
  font-size: 15px;
}

.checkout {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 20px;
  border-radius: 8px;
}

.FormRow {
  background-color: rgba(112, 109, 109, 0.85);
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}

#logo {
  text-align: center;
  font-size: 100px;
  padding: 0px;
  margin: 5px;
  border-radius: 8px;
  color: rgb(167, 49, 49);
  text-shadow: 0 0 3px #ffffff;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}
