body {
  width: 100%;
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background: linear-gradient(rgb(255, 255, 255), rgba(167, 49, 49)); */
  /* background-image: url('src/assets/1290-1080-bg.png'); */
  background: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

#logo-login {
  max-width: 600px;
  min-width: 150px;
  margin: 0px 0px 10px 260px;
}

#logo-topper {
  width: 230px;
  justify-content: left;
}

#logo-account {
  width: 150px;
  margin: 8px 10px 8px 10px;
}

a {
  color:rgb(167, 49, 49);
}

h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  border-radius: 0px 0px 8px 8px;
}

.site-bg {
  background-image: url(assets/1290-1080-bg.png);
}


#account-header {
  background-color: rgba(167, 49, 49);
  width: 70%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: -15px auto auto auto;
  padding: 0px;
  border-radius: 8px 8px 0px 0px ;
}

#butcher-header {
  background-color: rgba(167, 49, 49);
  width: 70%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: -15px auto auto auto;
  padding: 0px;
  border-radius: 8px;
}

#experience-header {
  background-color: rgba(167, 49, 49);
  width: 70%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: -15px auto auto auto;
  padding: 0px;
  border-radius: 8px;
}

#community-header {
  background-color: rgba(167, 49, 49);
  width: 70%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: 0px auto auto auto;
  padding: 0px;
  border-radius: 8px;
}

#single-header {
  background-color: rgba(167, 49, 49);
  width: 70%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: 0px auto auto auto;
  padding: 0px;
  border-radius: 8px;
}

#meat-header {
  background-color: rgba(167, 49, 49);
  width: 70%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: -15px auto auto auto;
  padding: 0px;
  border-radius: 8px;
}

#dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown {
  margin: 0px 15px 0px 5px;
}

#match-contents-div {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding: 0px;
}

#welcome-message {
  font-size: 30px;
  margin: 10px 40px 0px 40px;
}

#welcome-body {
  font-size: 18px;
  margin: 0px 160px;
}

#match-left-div {
  min-width: 300px;
  max-height: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#match-right-container {
  max-width:850px;
}

#match-right-div {
  display: block;
  flex-flow: column wrap;
  overflow-y: scroll;
  list-style: none;
  justify-content: space-evenly;
  max-width: 850px;
  max-height: 520px;
  line-height: 20px;
  margin: 0px 0px 0px 10px;
}

#butcher-name {
  background-color: transparent;
  font-size: 37px;
  color: rgb(0, 0, 0);
  margin: 0px 5px 5px 5px;
  padding: 0px 10px 5px 10px;
}

h3 {
  color: black;
  padding: 0px;
  margin: 0px 5px 5px 5px;
}

h4 {
  color: black;
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

p {
  color: black;
  font-weight: bold;
  margin: 0px;
}

.butcher-img {
  width: 430px;
  height: 430px;
}

option {
  text-align: center;
}

button {
  color: white;
  background-color: rgb(167, 49, 49);
  margin: 10px;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

.nav-bar {
  color: rgb(167, 49, 49);
}

.link {
  color: rgb(167, 49, 49);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 0px 20px;
}

.link:hover {
  text-decoration: underline;
  color:rgb(167, 49, 49);
}

.link:active {
  text-decoration: underline;
}

.acct-link {
  color: white;
}

.checkbox {
  position: relative;
  bottom: 45px;
  left: 10px;
}

.icon {
  width: 70px;
}

#login-container {
  width: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 80px auto;
  padding: 100px 230px 100px 100px;
  border-radius: 8px;
}

#register-container {
  width: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 80px auto;
  padding: 100px 230px 100px 100px;
  border-radius: 8px;
}

#error-container {
  color: white;
  background-color: rgb(167, 49, 49);
  margin: 10px;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 0px auto;
  height: 90px;
  list-style: none;
}

#nav-container {
  background-color: rgba(255, 255, 255);
  display: flex;
  width: 70%;
  height: 90px;
  margin: 0px auto;
  padding: 0px;
  border-radius: 0px;
}

#nav-contents {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  margin: 0px 0px 0px 150px ;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

#nav-logo-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content:left;
  align-items: center;
  height: 90px;
  margin: 0px 10px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

#footer-container {
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 120px;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

#break-line {
  background-color: black;
}

#butcher-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  width: 70%;
  margin: auto auto -15px auto;
  padding: 0px;
}

#community-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
}

#single-butcher-container {
  /* background-color:rgb(214, 208, 208, 0.80); */
  width: 100%;
  text-align: center;
  margin: -15px auto auto auto;
  padding: 0px;
  border-radius: 8px;
}

#single-butcher-body {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  text-align: center;
  margin: auto auto -15px auto;
  padding: 0px;
  border-radius: 8px;
}

#rating-container {
  display: flex;
  justify-content: center;
}

#butcher-rating {
  color: black;
  font-size: 25px;
  line-height: 60px;
}

#star {
  color: rgb(236, 201, 0);
  font-size: 40px;
  align-items: center;
  line-height: 55px;
  margin: 0px 0px 0px 5px;
}

#exp-rating-container {
  display: flex;
  justify-content: center;
}

#exp-star {
  color: rgb(236, 201, 0);
  margin: 0px 0px 0px 3px;
}

#left-butcher-div {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px 20px 10px 20px;
  margin: 10px 5px 0px 0px;
  max-height: 650px;
  width: 865px;
}

.single-address {
  font-size: 30px;
  margin: 0px;
  line-height: 40px;
}

#right-butcher-div {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 0px 5px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  overflow-y: scroll;
  list-style: none;
  justify-content: space-evenly;
  max-width: 450px;
  max-height: 690px; 
}

#user-welcome {
  width: 70%;
  text-align: right;
  border-radius: 0px 0px 8px 8px;
  color:rgb(167, 49, 49);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0px;
  margin: auto;
}

#login-message {
  width: 98%;
  padding: 0px;
}

#account-body {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0px;
  border-radius: 8px;
}

.account-cards {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 5px 10px 10px 0px;
  padding: 35px 40px 130px 40px;
  border-radius: 8px;
  width: 357px;
  height: 490px;
}

.account-card-right {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 5px 10px 10px 7px;
  padding: 35px 40px 130px 40px;
  border-radius: 8px;
  width: 357px;
  height: 490px;
}

.acct-card-headers {
  font-size: 25px;
  margin: 0px 0px 20px 0px;
}

.acct-card-button {
  margin: 25px 0px 0px 0px;
}

.border {
  background-color: rgb(255, 255, 255);
  /* background-image: url('src/assets/meatsbw.jpg'); */
  border-radius: 8px;
}

#acct-exp-view {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  overflow-y: scroll;
  list-style: none;
  justify-content: space-evenly;
  width: 354px;
  max-height: 460px; 
}

#acct-experience-card {
  background-color: rgb(255, 255, 255);
  color:rgb(167, 49, 49);
  text-align: center;
  width: 255px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  max-height: 350px;
}

#acct-my-exp {
  width: 320px;
  height: 420px;
  border-radius: 8px;
  padding: 20px 0px 15px 0px;
  justify-content: center;
  opacity: 1;
}

#acct-meet {
  width: 320px;
  height: 420px;
  border-radius: 8px;
  padding: 20px 0px 15px 0px;
  justify-content: center;
  opacity: 1;
}

#acct-exp-pic {
  width: 320px;
  height: 420px;
  border-radius: 8px;
  padding: 20px 0px 15px 0px;
  justify-content: center;
  opacity: 1;
}

.experience-card {
  background-color: rgba(255, 255, 255, 85%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color:rgb(167, 49, 49);
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.price {
  color:rgb(167, 49, 49);
}

.review-box {
  background-color: rgb(214, 208, 208, 0.20);
  border-radius: 8px;
  padding: 6px;
  margin: 10px 0px 10px 0px;
}

#match-body {
  background-color: rgba(255, 255, 255, 0.85);
  width: 67%;
  text-align: center;
  margin: 10px auto;
  padding: 30px 30px;
  border-radius: 8px;
}

#match-butch-name {
  font-size: 23px;
}

#match-meat-price {
  color:rgb(167, 49, 49);
  font-size: 18px;
}

#new-exp-body {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 70%;
  margin: 10px auto;
  padding: 40px 0px;
  border-radius: 8px;
}

#edit-exp-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  width: 70%;
  margin: 10px auto;
  padding: 40px 0px;
  border-radius: 8px;
}

#butcher-body {
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 263px;
  margin: 10px 10px 0px 0px;
  padding: 20px 30px;
  border-radius: 8px;
}

#community-body {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  width: 70%;
  min-height: 550px;
  margin: 10px auto -15px auto;
  padding: 15px 0px 30px 0px;
  border-radius: 8px;
}

#exp-history-body {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin: 5px;
  padding: 30px;
  border-radius: 8px;
}

.price-input {
  width: 50px;
  height: 20px;
  text-align: center;
  font-weight: bold;
}

.notes-input {
  min-width: 350px;
  max-width: 350px;
  min-height: 80px;
  text-align: center;
  font-size: 15px;
}

.checkout {
  width: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 80px auto;
  padding: 100px 230px 100px 100px;
  border-radius: 8px;
}

.FormRow {
  background-color: rgba(112, 109, 109, 0.85);
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}

#logo {
  text-align: center;
  font-size: 100px;
  padding: 0px;
  margin: 5px;
  border-radius: 8px;
  color: rgb(167, 49, 49);
  text-shadow: 0 0 3px #ffffff;
}

#root {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0px;
  position: absolute;
  top:0px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}
